<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .imgp
        {
            margin-bottom: 0%;
            padding-bottom: 0%;
        }
    </style>
</head>
<body>
  <!-- hero -->
  <section id="title" class="gradient">

    <div class="container col-xxl-8 px-4 pt-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../images/plant home.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" height="900" width="1000" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Meet new and interesting nearby.</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis provident veniam, quidem fugiat aspernatur?</p>
        </div>
      </div>
    </div>
  </section>
  <!-- about_us -->
  <section>
  <div class="py-10 mt-10">
    <div class="p-5 text-center bg-body-tertiary">
      <div class="container ">
        <h1 class="text-body-emphasis">Full-width jumbotron</h1>
        <p class="col-lg-8 mx-auto lead">
          This takes the basic jumbotron above and makes its background edge-to-edge with a <code>.container</code> inside to align content. Similar to above, it's been recreated with built-in grid and utility classes.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- pages -->
<section>
<div class="container mg-25">
  <div class="row row-cols-1 row-cols-md-3 g-4 py-10 "> 
      <a href="./crop.html" style="text-decoration: none;">
      <div class="col">
        <div class="card h-100">
          <img src="../images/cabagge.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Crop</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
  </a>
      <a href="./fertilizer.html" target="_blank" style="text-decoration: none;">
          <div class="col">
            <div class="card h-100">
              <img src="../images/Compost-vs-fertilizer-1.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">fertilizer</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural .</p>
              </div>
            </div>
          </div>
        </a>
      <div class="col">
          <div class="card h-100">
            <img src="../images/SRI-hybrid-rice-field.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
    </div>     
  </div>
</section>
<!-- footer -->
<section id="contact" class="gradient">
    <div class="container ">
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 mt-5 border-top">
        <div class="col mb-3">

          <p class="text-body-secondary"></p>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
          
        </div>

        <div class="col mb-3">
          
        </div>

        <div class="col mb-3">
          
        </div>
      </footer>
    </div>
  </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>